.App {
  text-align: center;

}

.Header {
  position : absolute;
  top : 0;
}
.routerNav nav {
  margin : 5vh auto;
  width : 80vw;
  display : flex;
  flex-direction: row;
  justify-content: space-around;
}

.routerNav nav a {
  color : black;
  text-decoration: none;

}

.routerNav {
  background-image: 'url(assets/bgImage.jpg)';
}


.Footer {
  position : relative;
  bottom : 0;
}

.Songs {
  height : 80vh;
  overflow-y: scroll;
}

.Posts {
  height : 80vh;
  overflow-y: scroll;
}
