.App {
  text-align: center;
}

.routerNav nav {
  margin : 5vh auto;
  width : 80vw;
  display : flex;
  flex-direction: row;
  justify-content: space-around;
}

.routerNav nav a {
  color : black;
  text-decoration: none;

}

.Songs {
  height : 80vh;
  overflow-y: scroll;
}

.Song {
  display : flex;
  flex-direction: column;
  max-width : 30vw;
  margin : 5vh auto;
}

.Posts {
  height : 80vh;
  overflow-y: scroll;
}

.Post h4{
  font-family: "Lucida Console", Monaco, monospace;
}

.Footer {
  position : relative;
  bottom : 0;
}
